# OVH API credentials used by Certbot
dns_ovh_endpoint = {{ certbot_ovh_endpoint | default('ovh-eu') }}
dns_ovh_application_key = {{ certbot_ovh_application_key }}
dns_ovh_application_secret = {{ certbot_ovh_application_secret }}
dns_ovh_consumer_key = {{ certbot_ovh_consumer_key }}
